os: linux
dist: xenial
language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any versions older than that should be considered deprecated.
# Don't bother testing with them. tip builds your code with the latest
# development version of Go. This can warn you that your code will break
# in the next version of Go. Don't worry! Later we declare that test runs
# are allowed to fail on Go tip.
go:
  - 1.12.7
  - master

# Skip the install step. Don't `go get` dependencies. Only build with the
# code in vendor/
install: true

env:
  - GO111MODULE=on

cache:
  directories:
  - $HOME/.cache/go-build
  - $HOME/gopath/pkg/mod

matrix:
  # It's ok if our code fails on unstable development versions of Go.
  allow_failures:
    - go: master
  # Don't wait for tip tests to finish. Mark the test run green if the
  # tests pass on the stable versions of Go.
  fast_finish: true

# Don't email me the results of the test runs.
  notifications:
    email: false

services:
- mysql
- docker

before_install:
- mysql -u root -e 'CREATE DATABASE IF NOT EXISTS chainquery;'
- mysql -u root -e "CREATE USER 'lbry'@'localhost' IDENTIFIED BY 'lbry';"
- mysql -u root -e "GRANT ALL ON chainquery.* TO 'lbry'@'localhost';"
- sudo service mysql restart


# Anything in before_script that returns a nonzero exit code will
# flunk the build and immediately stop. It's sorta like having
# set -e enabled in bash.
before_script:
# All the .go files, excluding vendor/ and model (auto generated)
  - GO_FILES=$(find . -iname '*.go' -type f | grep -v /vendor/ | grep -v /model/ | grep -v /swagger/ | grep -v /migration/)
  - go get golang.org/x/tools/cmd/goimports                     # Used in build script for generated files
  - go get golang.org/x/lint/golint                             # Linter
  - go get honnef.co/go/tools/cmd/staticcheck                     # Badass static analyzer/linter
  - go get github.com/jgautheron/gocyclo                        # Check against high complexity
  - go get github.com/mdempsky/unconvert                        # Identifies unnecessary type conversions
  - go get github.com/kisielk/errcheck                          # Checks for unhandled errors
  - go get github.com/opennota/check/cmd/varcheck               # Checks for unused vars
  - go get github.com/opennota/check/cmd/structcheck            # Checks for unused fields in structs
  - go get github.com/jgautheron/goconst/cmd/goconst            # Checks for strings that should be constants





# script always run to completion (set +e). All of these code checks are must haves
# in a modern Go project.
script:
  # Build Chainquery successfully
  - ./scripts/build.sh
  # Fail if a .go file hasn't been formatted with gofmt
  - test -z $(gofmt -s -l $GO_FILES)
  - ./scripts/lint.sh
  # Run unit tests
  - ./scripts/test.sh
  # end to end testing
  #- ./e2e/e2e.sh
  # check model generation...
  - ./bin/chainquery serve db && ./scripts/gen_models.sh
  # matches what was commited
  - go mod tidy
  - git diff --exit-code

deploy:
  # calls goreleaser for production release
  - provider: script
    skip_cleanup: true
    script: ./scripts/deploy.sh
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
  # uploads per commit builds
  - provider: s3
    bucket: "build.lbry.io"
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    skip_cleanup: true
    local-dir: bin
    upload-dir: "chainquery/branch-${TRAVIS_BRANCH}/commit-${TRAVIS_COMMIT:0:7}/build-${TRAVIS_BUILD_NUMBER}"
    on:
      all_branches: true
      go: '1.12.7'
  # upload latest successful build per branch
  - provider: s3
    bucket: "build.lbry.io"
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    skip_cleanup: true
    local-dir: bin
    upload-dir: "chainquery/branch-${TRAVIS_BRANCH}"
    on:
      all_branches: true
      go: '1.12.7'

notifications:
  email: true
  webhooks: https://chainquery.lbry.com/api/autoupdate