{{>partial_header}}
package swagger

import (
	"log"
	"net/http"

	sw "github.com/lbryio/chainquery/swagger/apiserver/{{apiPath}}"
)

func InitApiServer() {
	log.Printf("API Server started")

	router := sw.NewRouter()

	log.Fatal(http.ListenAndServe(":{{serverPort}}", router))
}